/*
* NockBits Styles V1.0
* Copyright 2015, NockBits Dev
* www.nockbits.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 25/10/2015
*/


/* Override Default Styling
---------------------------------------------*/
body, *             {color: #3c3c3c; }
a                   { color: #cc9752; line-height: inherit; text-decoration: none; }
a:hover, a:focus    { color: #c68b3e; }
a img               { border: medium none; }


/* Media Queries
---------------------------------------------*/

/* Common mobile platform styles*/
@media (max-width: 699px) and (min-width: 300px){}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}